:root {
    --main-color: #4CAF50;
    --accent-color: #ff5722;
    --text-color: #333;
    --background-color: #f4f4f4;
    --font-family: 'Inter', sans-serif;
    --grid-medzera: 10px;
    --pasiky: 50px;
}


.layout {
    width: 100%;

    display: grid;
    grid:
        "header"
        "cuerpo"
        "footer";
    grid-gap: var(--grid-medzera);
    grid-template-rows: auto auto auto;
    text-align: center;
}

.header {
    grid-area: header;
    min-height: var(--pasiky);
}



.cuerpo {
    grid-area: cuerpo;
    height: 100%;

}

.container {
    display: grid;
    grid:
        "leftSide bigPane";
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
    height: calc(100vh - var(--pasiky) * 2 - var(--grid-medzera) * 2);
    justify-content: center;
    align-items: center;
}

.container>div.leftSide {
    grid-area: leftSide;
    width: 150px;
    height: 100%;
    border: 1px solid black;
}

.container>div.bigPane {
    grid-area: bigPane;
    height: 100%;
    border: 1px solid black;
}

.footer {
    grid-area: footer;
    min-height: var(--pasiky);
}